#mailContainer{


}
#leftSideBar{
    background-color: #366337;
    min-height: 42.75rem;
    padding: 0;
    display: table-cell;

}
#leftSideBar ul{
    width: 100%;
    list-style-type: none;
    font-size:1rem;
    margin: auto;
    padding: 0.125rem;
}
#leftSideBar ul li{
    padding:0.250rem;
    margin: 0.5rem 0;
    width: 100%;
}
#leftSideBar ul li:hover{
    background-color: #d5deac;
    color: black;
 }

#topNavigation{
    background-color: #366337;
    min-height:2.5rem;
}
#topNavigation table tr th{
    text-align: center;
    vertical-align: bottom;
    border:none;
    line-height:1rem;
}
#mailContent{
    background-color: whitesmoke;
    min-height: 42.75rem;
    max-height: 42.75rem;
    overflow-y: scroll;
    overflow-x:hidden;
}
.messageHeader{
    background-color:#344e33;
    border:none;
}
tr th{
    border:none!important;
}
#mailContent > table > tbody > tr > th:nth-child(1), #mailContent > table > tbody > tr > th:nth-child(5){
    width:10%;
}
#mailContent > table > tbody > tr > th:nth-child(2){
    width:20%;
}

#tableBodyInbox tr{
    background-color:#d9e69d;
    color:black;
}
.table>tbody>tr>td{
    border-color: transparent !important;
}
#mailContent::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#mailContent::-webkit-scrollbar {
    width: 0.5rem;
}

#mailContent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#mailContent::-webkit-scrollbar-thumb {
    background-color: #55652e;
    height:1rem;
    outline: 1px solid #2d5e2d;
    border-radius:0.5rem;

}
#tableHeader{
    position: static;
}
.readMEssage{
    background-color: #e2dede!important;
}