@font-face {
    font-family:'WebpixelBlack';
    src: url('../fonts/webpixel/fontie-package/webpixelbitmap-Black.eot');
    src: url('../fonts/webpixel/fontie-package/webpixelbitmap-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webpixel/fontie-package/webpixelbitmap-Black.woff2') format('woff2'),
    url('../fonts/webpixel/fontie-package/webpixelbitmap-Black.woff') format('woff'),
    url('../fonts/webpixel/fontie-package/webpixelbitmap-Black.svg#webpixelbitmap-Black') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}
@font-face {
    font-family:'WebpixelRegular';
    src: url('../fonts/webpixel/light/webpixelbitmap.eot');
    src: url('../fonts/webpixel/light/webpixelbitmap.eot?#iefix') format('embedded-opentype'),
    url('../fonts/webpixel/light/webpixelbitmap.woff2') format('woff2'),
    url('../fonts/webpixel/light/webpixelbitmap.woff') format('woff'),
    url('../fonts/webpixel/light/webpixelbitmap.svg#webpixelbitmap') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-2265;
}
html{
    font-size:15px;
}
body{
    font-size:1rem;
}
html,body{
    position: relative;
    padding:0;
    margin: 0;
    height: 100%;
    background-color: #b9d151;
    font-family: WebpixelRegular, monospace;
}
*:not(textarea), *:not(input){
    cursor: default;
}
header{
    width: 100%;
    min-width:  27.33rem;
    height: auto;
}
#mainnav{
    background-color: #297045;
    border: none;
    display: block;
    height: auto;
    border-radius: 0;
    min-width: 40rem;
}
#bottomNav{
    background-color: #297045;
    border: none;
    border-radius: 0;
    clear: both;
    position: relative;
    z-index: 10;
    min-width: 40rem;
    height: 10rem;
    margin-bottom: -3em;
}

#logo{
    height: auto;
}

#logoSlika{
    max-height: 15rem;
    max-width:41.33rem;
    margin: auto;
    padding:0.6667rem;
}


#menu{
    height: 23.33rem;


}
#menuChose {
    background-image: url("../images/meni.png");
    width: 33.33rem;
    padding: 3.333rem;
    height:  23.33rem;
    background-size: contain;
    background-repeat: no-repeat;
    margin:  auto;
}
ul{
    list-style-type: none;
}
ul .ostatak  {
    color:#94d052;
    margin:  1.7rem auto;
    font-size: 1.667rem;
    text-align: center;
    border-spacing: 0;
    padding:0;
    font-family: WebpixelBlack, monospace;
    border: 1px solid transparent;
}
ul .ostatak a{
    color: #94d052;
    text-decoration: none;
    position: absolute;
    left: 0;
    right:0;
    display: table-cell;
    border:1px solid transparent;
}
ul .ostatak a:hover{
    background-color: #94d052;
    color: #000f1e;
}
.menu{
    position: relative;
    width: 100%;
    height:65%;
    max-height: 70%;
    overflow-y: scroll;
}
.menu::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.menu::-webkit-scrollbar {
    width: 0.5rem;
}

.menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.menu::-webkit-scrollbar-thumb {
    background-color: #afc852;
    height:1rem;
    outline: 1px solid #2d5e2d;
    border-radius:0.5rem;

}.table-responsive{
    font-size: 0.9333rem;
    border: none;
}
#menuChose .ostatak td:nth-child(2):hover{
    background-color: #94d052;
    color: #000f1e;
}
#menuChose .ostatak td:nth-child(2) a:hover {
    background-color: #94d052;
    color:#000f1e;
}

#zaglavlje{
    font-size: 2.333rem;
    height:1.333rem;
    color:#94d052;
    margin: 0;
    padding:0;
    text-align: center;

}
#bottomNav p{
    margin: auto;
    text-align: center;
    font-size:1.333rem;
    color:#94d052;
}
#DownButton{

    font-family: WebpixelRegular, monospace;
    color: #94d052;
    background-color: #297045;
    height: 3.333rem;
    width: 3.333rem;
    position: absolute;
    bottom: -0.6rem;
    right:0;
    left:0;
    border-radius:50%;
    font-size:2rem;
    margin: 0 auto;
    line-height: 5.333rem;
    text-align: center;
    cursor: default;
}
#DownButton:hover{
    color: #000f1e;
    
}
.navbar-header{
    width: 100%;
}
#dropdown{
    width: 100%;
    height:10rem;
    display: none;
}

#copyright{
    position: absolute;
    bottom:0;
    left:0;
    right:0;
}
#about{
    background-color: floralwhite;
    width:100%;
    height: 53.33rem;
}

.pageHeader{
    color: #9a3b39;
    font-weight:bolder;
    text-align: left;
    font-size:4rem;
    padding:1rem;
}
.aboutArticle{
    font-size:1.667rem;
    color:#9a3b39;
    font-weight: bold;
}
.aboutParagraph{
    text-align: justify;
    text-indent:2.333rem;
}
#signature{
    font-size:2rem;
    font-style: italic;
}
.jumbotron {
    background-color: transparent;
    color: #9a3b39;
    font-weight: bold;
}
.jumbotron p{
    font-weight: bolder;
}
.jumbotron hr{
    border-color: #297045;
}
.navbar-default .navbar-nav>li>a{
    color: #b9d151;
    font-size: 1.2rem;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #f2f2f2;
    background-color: #1f5434;
}
.navbar-default .navbar-nav>li>a:hover {
    color: whitesmoke;
    background-color: transparent;
}
#courseDescriptionJumbatron, #courseLessonsJumbatron, #aboutJumbatron, #messageJumbatron{
    min-height: 31.25rem;
    height: auto;
    margin: 3.125rem 0;
    border-radius: 0.625rem;
    background-color: #e0f098;
    border-top: 0.25rem solid #a5bb48;
    border-bottom: 0.25rem solid #a5bb48;
    border-right: 0.125rem solid #a5bb48;

}
#lessonDescriptionJumbatron{
    height: auto;
    margin: 3.125rem 0;
    border-radius: 0.625rem;
    background-color: #e0f098;
    border-top: 0.25rem solid #a5bb48;
    border-bottom: 0.25rem solid #a5bb48;
    border-right: 0.125rem solid #a5bb48;
}
.listLesson a{
    color:#9a3b39;
    text-decoration:none;
    font-size:1.7rem;
    font-weight: bold;

}
.listLesson a:hover{
    color:darkgreen;
}
label,input,textarea,button{
    font-size:1.2rem;
    font-family: "Courier New";
    color:#6b7d3e;
}
#submitMessage,#startCode{
    background-color:#6b7d3e;
    color:whitesmoke;
}
#iframeCode{
    width:100%;
    height: 31rem;
    background-color: white;
}